      <div class="col-md-3">
        <div class="sidebar-module">
          <img src="/assets/the_shaws_logo.jpg" width="75%">
          <p>
          Next Show: {{site.data.general.next_show | date_to_string}} 
          From 10am - 4pm
          </p>
        </div>        
        <div class="sidebar-module">
          <h4>Presented by:</h4>
          <a href="http://neherp.com"><img src="/assets/NEHS-Logo.gif" width="75%"></a>
          Contact Us:
          neherp@neherp.com
        </div>
      </div>